<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>MTSpromobot</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-grid.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body style="background-image: url('{{ url_for('static', filename='images/bg.jpg') }}');">


	<div id="bar" class="row">
		<a href="/" class="back_btn col-sm-2"><img src="{{ url_for('static', filename='images/elements/home.png') }}" width="32" style="text-align: center;"></a>
		<div class="vert_line col-sm-1"><img src="{{ url_for('static', filename='images/elements/vert_line.jpg') }}" height="32"></div>
		<div class="col-sm-6">Отправка фотографии</div>
		<div class="vert_line col-sm-1"><img src="{{ url_for('static', filename='images/elements/vert_line.jpg') }}" height="32"></div>
		<a href="/faq" class="faq_btn col-sm-2"><img src="{{ url_for('static', filename='images/elements/faq.png') }}" width="32" style="text-align: center;"></a>
	</div>

	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6 center">
			<form method="POST">
				<div class="row">
					<div class="col-sm-8 left">
						<input type="text" name="email_name" style="width: 630px;">
					</div>
					<div class="col-sm-4 left">
						<select name="email" style="width: 288px;">
							<option value="@mail.ru">@mail.ru</option>
							<option value="@inbox.ru">@inbox.ru</option>
							<option value="@list.ru">@list.ru</option>
							<option value="@yandex.ru">@yandex.ru</option>
							<option value="@rambler.ru">@rambler.ru</option>
							<option value="@gmail.com">@gmail.com</option>
							<option value="">Другое</option>
						</select>
					</div>
				</div>
				<input type="submit" value="Отправить" style="width: 940px;">
			</form>
		</div>
		<div class="col-sm-3"></div>
	</div>


	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/popup.js') }}"></script>
	<script src="{{ url_for('static', filename='js/camera.js') }}"></script>
</body>
</html>